@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.homepage-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #F5F5F5;
    text-align: center;
}

h1 {
    background-color: #6FA3B3;
    font-family: "Poetsen One", sans-serif;
    font-weight: lighter;
    margin: 0;
    font-size: xx-large;
    height: 75px;
    width: 100%;
  }

h2 {
    color: #37048A;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    padding: 20px;
}

.city-selector {
    margin: 20px;
}

button {
    background-color: #6FA3B3;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color: #518fa0;
}
